* {
    max-width: 1200px;
    margin: auto;
}

body {
    font-family: roboto, serif;
}

.profile {
    display: flex;
}

.champic {
    margin-left: 40px;
    width: 130px;
    color: green;
}

.fontcham {
    font-size: 15px;
}

.titlecham {
    color: green;
    font-size: 50px;
    font-weight: bold;
}

a {
    color: red;
}

.barraop {
    max-width: 700px;
    margin: 1rem auto;
}

#menu {
    font-size: 1.5rem;
    border: 0;
    color: red;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❌";
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
}

.navigation a {
    display: none;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    color: red;
}

.navigation a:hover {
    font-weight: 700;
    border-bottom: 2px solid red;
}


.navigation.open a {
    display: block;
}

.portalimg {
    display: block;
    max-width: 93.5%;
    height: auto;
}

.hometitle {
    text-align: start;
    margin-left: auto;
    color: red;
}

.firstcards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.eventscard {
    border: 1px solid red;
    margin-left: 20px;
    margin: 5px;
}

.eventstitle {
    color: red;
    background-color: green;
    padding-right: 288px;
}

.optionspoint {
    padding-top: 90px;
    padding-bottom: 90px;

}

.currentcard {
    border: 1px solid red;
    margin: 5px;
}

.currenttitle {
    color: red;
    background-color: green;
    padding-right: 200px;
}

.weaterp {
    text-align: center;
}

#myimgwea {
    max-width: 100px;
    margin-bottom: -80px;
}

.weaterresult {
    border: 1px solid red;
    margin: 5px;
}

#gradesinF {
    font-weight: bold;
}

.waetertittle {
    color: red;
    background-color: green;
    padding-right: 150px;
}

.weaterpp {
    padding: 18px;
}

footer {
    display: flex;
}

.partoneoffoot {
    padding: 10px;
}

.emailho {
    text-decoration: none;
    color: black;
}

.nonedeco {
    text-decoration: none;
}

.logosred {
    max-width: 50px;
    border-radius: 20px;
}


.res-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    margin: 1rem;
}

#titlemem {
    color: red;
    background-color: green;
}

.elementofmem {
    text-align: center;
    font-size: 20px;
}

.elementimgof {
    max-width: 250px;
    display: block;
}

#emailofcom {
    text-decoration: none;
    color: red;
}

form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.blocklabel {
    display: block;
}

.membership-card {
    transform: translateY(30px);
    opacity: 0;
    transition: transform 0.6s ease-out, opacity 0.6s ease-out;
}

.membership-card.loaded {
    transform: translateY(0);
    opacity: 1;
}

main {
    font-family: Prata, sans-serif;
}

.ftitleform {
    padding: 5px;
    color: red;
    font-size: 30px;
}

.titleofform {
    margin-left: 15px;
    font-size: 15px;
    color: green;
    margin-bottom: 10px;
}

.blocklabel {
    color: red;
    font-size: 12px;
    margin-bottom: 5px;
}

#firstName {
    width: 250px;
    margin-bottom: 15px;
    color: green;
}

#lastName {
    width: 250px;
    margin-bottom: 15px;
    color: green;
}

#organizationtitle {
    width: 250px;
    margin-bottom: 15px;
    color: green;
}

#email {
    width: 250px;
    margin-bottom: 15px;
    color: green;
}

#phone {
    width: 250px;
    margin-bottom: 15px;
    color: green;
}

#organizationname {
    width: 250px;
    margin-bottom: 15px;
    color: green;
}

.optionslevel {
    font-size: 10px;
    color: green;
}

textarea {
    width: 250px;
    margin-bottom: 15px;
    color: green;
}

#butonsum {
    background-color: green;
    border-radius: 10px;
}

.secondlevel {
    text-align: center;
}

.titletwoform {
    font-size: 15px;
    text-align: start;
    color: green;
    margin-top: -35px
}

.nplevcar {
    padding: 35px;
    background-color: green;
    margin: 5px;
    color: red;
    border-radius: 10px 40px;
}

#npmemlevel {
    background-color: red;
    margin-top: 10px;
}

#bromemlevel {
    background-color: red;
    margin-top: 10px;
}

#silmemlevel {
    background-color: red;
    margin-top: 10px;
}

#goldmemlevel {
    background-color: red;
    margin-top: 10px;
}

#closeButton {
    background-color: red;
}

#dialogBox {
    width: 500px;
    height: 120px;
    text-align: center;
    background-color: rgb(109, 144, 109);
}

#results {
    width: 300px;
    height: 50px;
    text-align: center;
}

.titlebus {
    color: green;
    border-top: 1px solid green;
    padding-top: 10px;
    text-align: center;
}

#visit-message {
    text-align: center;
    margin-left: 450px;
    margin-right: 450px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}

#visit-message::before {
  content: "❗";
}