@media only screen and (min-width: 64rem) {
    #placeslima {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    img:hover {
        transform: scale(1.05);
        filter: brightness(1.1);
        cursor: pointer;
    }
}