* {
    max-width: 1200px;
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Prata, serif;
    font-weight: bold;
}

header {
    background-color: #2AA198;
    color: #002B36;
    padding: 1rem;
    font-size: 30px;
}

header {
    display: grid;
    grid-template-columns: 44px auto 44px;
    align-items: end;
}

.logoimg {
    max-width: 70px;
    max-height: 80px;
}

nav {
    background-color: #002B36;
}

#myButton::before {
    content: "\2630";
}

#myButton {
    font-size: 2rem;
    background: none;
    border: none;
    color: #FDF6E3;
    cursor: pointer;
    width: 100%;
    text-align: right;
    padding: .25rem 2vw;
}

ul.menuLinks li a {
    display: block;
    padding: .75rem 2vw;
    color: white;
    text-decoration: none;
}

ul.menuLinks {
    list-style-type: none;
}

#myButton.open::before {
    content: "x";
}

nav {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
}

nav ul {
    overflow: hidden;
}

nav.open {
    grid-template-rows: 1fr;
}

.hometitle {
    margin-top: 5px;
    text-align: start;
    margin-left: auto;
    color: #002B36;
}

.firstcards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.eventscard {
    border: 1px solid #2AA198;
    margin-left: 20px;
    margin: 5px;
}

.eventstitle {
    color: #002B36;
    background-color: #2AA198;
    padding-right: 288px;
}

.currentcard {
    border: 1px solid #2AA198;
    margin: 5px;
}

.currenttitle {
    color: #002B36;
    background-color: #2AA198;
}

.weaterp {
    text-align: center;
}

#myimgwea {
    max-width: 100px;
    margin-bottom: -80px;
}

.weaterresult {
    border: 1px solid #2AA198;
    margin: 5px;
}

#gradesinF {
    font-weight: bold;
}

.waetertittle {
    color: #002B36;
    background-color: #2AA198;
}

.weaterpp {
    padding: 18px;
}


.partoneoffoot {
    padding: 10px;
}

.emailho {
    text-decoration: none;
    color: #002B36;
}

.nonedeco {
    text-decoration: none;
}

.logosred {
    max-width: 50px;
    border-radius: 20px;
}

.threesec {
    padding: 10px;
}

.videolink {
    color: #002B36;
}

footer {
    margin-top: 10px;
    background-color: #2AA198;
    padding: 1rem;
    color: #002B36;
}

.textofca {
    text-align: center;
    padding: 10px;
    overflow: auto;
    box-sizing: border-box;
    word-wrap: break-word;
}

.res-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    margin: 1rem;
}

#titlemem {
    color: #002B36;
    background-color: #2AA198;
}

.elementofmem {
    text-align: center;
    font-size: 20px;
}

.elementimgof {
    max-width: 250px;
    display: block;
}

#emailofcom {
    text-decoration: none;
    color: #002B36;
}

.productostitulo {
    padding-top: 10px;
    font-size: 20px;
    color: #002B36;
    border-bottom: 1px solid #002B36;
    display: inline-block;
}

.yeardate{
    margin: 0;
}

.date{
    margin: 0;
}

.titlebus {
    color: #002B36;
    padding-top: 10px;
    text-align: center;
}

#visit-message {
    text-align: center;
    margin-left: 200px;
    margin-right: 450px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}

#visit-message::before {
    content: "🏅";
}

#placeslima div{
    margin: 1rem 8px;
    border: 1px solid #002B36;
    background-color: #073642;
    color: 	#FDF6E3;
    border-radius: 8px;
    overflow: hidden;

    display: grid;
    grid-template-areas: 
    "name"
    "photo_url"
    "description"
    "address";
}

#placeslima div h2{
    margin: 1rem 10px;
    grid-area: name;
}

#placeslima div img{
    width: 100%;
    grid-area: photo_url;
}

#placeslima div p{
    margin: 1rem 10px;
    grid-area: description;
}

#placeslima div address{
    margin: 1rem 10px;
    grid-area: address;
}

#placeslima div button{
    padding: 8px;
    margin-bottom: 10px;
    background-color: #2AA198;
    color:#002B36;
    border-radius: 5px;
}

#dialogBox{
    background-color: #c0ede9;
    color: #002B36;
    text-align: center;
    border-radius: 10px;
}

.buttondia{
    background-color: #002B36;
    color: #2AA198;
    border-radius: 10px;
}

.sidebar{
    margin: 0;
}